.fit-cover {
  object-fit: cover;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.navbar-nav {
  justify-content: center;
  width: 100%;
}

.portfolio-block {
  padding: 0 15px;
  margin: 0 auto;
}

.fbox3 .col-sm-4 {
  padding: 15px;
}

.project-sidebar-card,
.project-compact-grid {
  margin-bottom: 20px;
}
.social-icons a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px; /* Ajusta según sea necesario */
  height: 40px; /* Ajusta según sea necesario */
  border-radius: 50%; /* Círculo */
  background-color: rgba(0, 126, 252, 0.1); /* Fondo opcional */
  margin: 0 5px; /* Espaciado entre íconos */
}

.social-icons a:hover {
  background-color: rgba(0, 126, 252, 0.2); /* Efecto hover opcional */
}

.work-experience .row {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .links a {
  margin: 0 10px;
}

.avatar {
  background-position: center;
  background-size: cover;
  width: 100px;
  height: 100px;
  margin: 10px auto;
}

@media (min-width: 768px) {
  .center-content {
      flex-direction: row;
  }

  .work-experience .row {
      flex-direction: row;
  }
}